{% extends 'base.html' %}       

{% block headContent %}
<title> INDEX </title> 
{% endblock %}

{% block content%}       
    {% if user.is_authenticated %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/write"> WRITE </a> <br>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list"> MY LIST </a> <br>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listall"> LIST ALL </a> <br>
        </li>
    </ul>
    {% else %}
    {% endif %}
{% endblock %}

