{% extends 'base.html' %}       

{% block headContent %}
<title> LIST </title>
{% endblock %}

{% block content%}       
<ul>
    <p> {{Length}} </p>
    <table class="table table-bordered">
        <tr>
            <th> TITLE </th>
            <th> WRITER </th>
        </tr>
    {% for item in BoardList %}
        <tr>
            <td> <a href="{% url 'read' item.id %}">{{item.title}} </a> </td>
            <td> {{item.user}} </td>
        </tr>
    {% endfor %}
    </table>
</ul>
{% endblock %}

